.footer__social-icon {
    text-decoration: none;
    color: white;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-right: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}
