.khan__buy-link {
    text-decoration: none;
    color: #2f80ed;
    line-height: 24px;
    font-size: 30px;
    font-weight: normal;
}

.khan__buy-link:hover {
    transform: translate(0, -1px);
    transition: ease-in 0.1s;
    opacity: 0.8;
}
